[Unit]
Description=Momentum Phund NiceGUI Application
After=network.target

[Service]
User=mph
WorkingDirectory=/home/mph/nice
ExecStart=/usr/local/bin/python3.10 main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
